*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-size: 20px;
    font-family: sans-serif;
    background-repeat: no-repeat;
}

.statusBar h1{
    text-align: center;
    color: white;
    background-color: #101F5A;
    margin: 0;
    padding: 60px 99px 15px;
    background-image: url(../images/backArrow.png)
    background-repeat: no-repeat;
}

.backArrow{
    float: left;
    margin-top: 60px;
    margin-left: 15px;
}

.container div{
    margin-left: 35px;
}

.bus60 h1{
    font-size: 45px;
    float: center;
    text-align: left;
}

.bus124 h1{
    font-size: 45px;
    float: center;
    text-align: left;
}

.bus151 h1{
    font-size: 45px; 
    float: center;
    text-align: left;
}

.busJ14 h1{
    font-size: 45px;
    float: center;
    text-align: left;
}

.bus6x h1{
    font-size: 45px;
    float: center;
    text-align: left;
}

.bus4 h1{
    font-size: 45px;
    float: center;
    text-align: left;
}

.bus20 h1{
    font-size: 45px;
    float: center;
    text-align: left;
}

div h2{
    float: center;
    margin-top: 8px;
    text-align: left;
    font-size: 15px;
}

div h3{
    float: right;
    font-size: 20px;
}

div h4{
    float:right;
    font-size: 15px;
}

.line{
    box-align: center;
    margin-left:31px;
}

.lowerBar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #101F5A;
    color: white;
    font-size: 10px;
}

.home{
    font-size: 10px;
}

.home h1{
    margin-top: 5px;
}


.schedule{
    font-size: 10px;
    margin: 35px;
    align-items: center;
}

.schedule h1{
    margin-top: 5px;
}

.busLocation{
    font-size: 10px;
    margin: 35px;
}

.busLocation h1{
    margin-top: 5px;
}