*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-size: 20px;
    font-family: sans-serif;
    background-repeat: no-repeat;
}

.statusBar h1{
    text-align: center;
    color: white;
    background-color: #101F5A;
    padding: 60px 99px 15px;
}

.backArrow{
    float: left;
    margin-top: 60px;
    margin-left: 15px;
}

.left{
    display:inline-block;
    padding-left: 15px;
    text-align:center;
    width: 30%;
}

.right{
    padding-left: 32px;
    display:inline-block;
}

.rowContainer{
    padding:0px 31px;
}
.wrapper{
    padding:30px 0px;
    border-bottom:2px solid #ACBCD3;
}

.rowContainer h1{
    font-size:45pt;
    font-weight:bold;
}
.rowContainer h2{
    margin-top:5px;
    font-size:15pt;
}
.rowContainer h3{
    font-size:20pt;
}
.rowContainer h4{
    font-size:15pt;
    margin-top:6px;
}

span.emphasis{
    font-weight:bold;
}

div h2{
    margin-top: 8px;
    font-size: 15px;
}

div h3{
    font-size: 20px;
}

div h4{
    font-size: 15px;
}

.lowerBar{
    height: 83px;
    background-color: #101F5A;
    color: white;
    font-size: 10px;
}

.lowerBar div{
    display:inline-block;
}

.home{
    font-size: 10px;
    text-align: center;
    padding-left: 7%;
    padding-right: 15%;
    padding-top: 2%;
}

.home h1{
    margin-top: 5px;
    color: #ACBCD3;
}

.schedule{
    font-size: 10px;
    padding-left: 16%;
    padding-right: 16%;
    text-align: center;
    padding-top: 1%;
}
.schedule.clock{
    display:block;
}

.schedule h1{
    margin-top: 5px;
}

.busLocation{
    font-size: 10px;
    padding-left: 11%;
    padding-right: 5%;
    text-align: center;
    color: #ACBCD3;
}

.busLocation h1{
    margin-top: 5px;
}